html, body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  text-transform: uppercase;
  flex-basis: 100%;
}

.customer {
  flex-basis: 20%;
}
